apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sBlockRoot
metadata:
  name: block-root-pods
  annotations: 
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
    # We only apply this to the default namespace so we don't break system pods
    namespaces: ["default"]